<div class="navbar">
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->

    <button
      mat-flat-button
      color="primary"
      routerLink=""
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
    >
      Home
    </button>
    <button
      mat-flat-button
      color="primary"
      routerLink="todos"
      routerLinkActive="active"
      *ngIf="accessToken"
    >
      Todos
    </button>

    <span class="example-spacer"></span>
    <button mat-icon-button *ngIf="!accessToken" routerLink="login">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!accessToken" routerLink="registration">
      <mat-icon>person_add</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="accessToken"
      (click)="logout()"
      routerLink=""
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div class="page-landing">
  <router-outlet></router-outlet>
</div>

<!-- -------------------------------------------------- -->

<!-- <div class="topnav">
  <a
    mat-raised-button
    color="basic"
    routerLink="/"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    >Home</a
  >
  <a
    mat-raised-button
    color="basic"
    routerLink="todos"
    routerLinkActive="active"
    *ngIf="accessToken"
    >Todos</a
  >
  <div class="auth-container">
    <form>
      <button
        mat-raised-button
        color="primary"
        *ngIf="!accessToken"
        routerLink="login"
      >
        Login
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="!accessToken"
        routerLink="registration"
      >
        Registration
      </button>
      <button
        mat-raised-button
        *ngIf="accessToken"
        (click)="logout()"
        routerLink=""
      >
        Logout
      </button>
    </form>
  </div>
</div> -->
