<h3>LOGIN</h3>
<div>
  <div>
    <input
      placeholder="E-mail"
      type="email"
      class="email"
      size="30"
      [(ngModel)]="user.email"
      #email="ngModel"
      required
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    />
  </div>
  <div>
    <input
      placeholder="Password"
      type="password"
      class="password"
      size="30"
      [(ngModel)]="user.password"
      #password="ngModel"
      required
      pattern="(?=.*[0-9])(?=.*[a-z])[0-9a-z]{6,}"
    />
  </div>

  <button
    [disabled]="email.invalid || password.invalid"
    class="loginButton"
    (click)="login()"
  >
    Войти
  </button>
</div>
