<h3>TODOSLIST</h3>
<table class="listTable" border="1" cellspacing="1" cellpadding="10">
  <!-- (click)="showTodo(item)" -->
  <tr *ngFor="let item of todoList; let i = index">
    <td [width]="100">{{ item.date | date }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.task }}</td>
    <td class="tableDeleteButton">
      <button class="deleteButton" (click)="deleteTodo(item._id)">
        Удалить
      </button>
    </td>
  </tr>
</table>
<table class="addTable" border="1" cellspacing="1" cellpadding="10">
  <tr>
    <td>
      <input placeholder="День" size="1" [(ngModel)]="date.day" />
      <input placeholder="Месяц" size="1" [(ngModel)]="date.month" />
      <input placeholder="Год" size="4" [(ngModel)]="date.year" />
    </td>
    <td>
      <input placeholder="Название" name="title" [(ngModel)]="todoAdd.title" />
    </td>
    <td>
      <input
        placeholder="Что будем делать"
        name="task"
        [(ngModel)]="todoAdd.task"
      />
    </td>
  </tr>
</table>
<button class="addButton" (click)="addTodo()">Добавить</button>
